.hiden {
  display: none;
}

/* RESET */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* COMON */

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* HEADER */

.page-hedader {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.header-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .header-nav {
    display: flex;
  }
  .webstudio {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .webstudio {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .contacts-link {
    font-size: 16px;
    padding: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mobile-menu-container {
  position: relative;
} */

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.close-btn-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 76px;
  margin-bottom: 168px;
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-item:focus {
  color: #4d5ae5;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-icon-list {
  display: flex;
  gap: 40px;
}

.menu-icon-item {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-address-link:focus {
  color: #4d5ae5;
}

/* 1 SECTION */

.section-first {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg-Mob@1.png");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 52px;
  max-width: 320px;
}

.title-first-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 216px;
  margin-bottom: 72px;
}

.button-first-section {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-Tab@1.png");
    padding: 112px 136px;
    max-width: 768px;
  }
  .title-first-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg.jpg");
    padding: 188px 316px;
    max-width: 1158px;
  }
}

/* 2 SECTION */

.section-second {
  padding: 96px 16px;
}

.icon-container {
  display: none;
}

.list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.title-second-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.text-second-section {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #434455;
  width: 264px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .section-second {
    padding: 96px 16px;
  }

  .list {
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .item-second-section {
    width: calc((100% - 24px) / 2);
  }

  .title-second-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .text-second-section {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .title-second-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .text-second-section {
    width: 264px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .list {
    column-gap: 24px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .item-second-section {
    width: calc((100% - 72px) / 4);
  }
}

/* 3 SECTION */

.section-third {
  background-color: #f4f4fd;
  padding: 96px 28px;
}

.title-section-third {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.item-third-section {
  background-color: #fff;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-section-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 72px;
}

.title-third-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.text-third-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.icon-third {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.ul-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
  margin-top: 8px;
}
.item-icons-third {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .section-third {
    background-color: #f4f4fd;
    /* padding: 96px 108px; */
  }
  .list-section-third {
    justify-content: center;
    padding: 0;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .section-third {
    background-color: #f4f4fd;
    /* padding: 120px 156px; */
  }
  .item-third-section {
    width: calc((100% - 72px) / 3);
  }
  .list-section-third {
    justify-content: center;
    padding: 0;
    column-gap: 24px;
    row-gap: 64px;
  }
}

/* 4 SECTION */

.section-fourth {
  padding: 96px 16px;
}

.title-section-fourth {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-fourth-section .item-section-fourth {
  background-color: #ffffff;
}

.list-fourth-section {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.item-section-fourth {
  width: 288px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-overlay {
  display: none;
}

.title {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-left: 16px;
}

.text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
  margin-left: 16px;
}

.img-portfolio-section {
  width: 288px;
  height: 280px;
}

@media screen and (min-width: 768px) {
  .list-fourth-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .item-section-fourth {
    width: calc((100% - 24px) / 2);
  }
  .img-portfolio-section {
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .item-section-fourth {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    border: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-section-fourth:hover,
  .item-section-fourth:focus {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .div-overlay {
    position: relative;
    overflow: hidden;
  }
  .text-overlay {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-section-fourth:hover .text-overlay {
    transform: translateY(0);
  }
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 96px 16px;
}

.studio {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  display: flex;
  justify-content: center;
}

.text_footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.footer-form-buttom-icon {
  margin-left: 16px;
  fill: #fff;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
  .logo-paragraf {
    width: 264px;
  }
  .footer-icon-container {
  }
  .logo-footer {
    padding: 0;
    margin: 0 0 16px 0;
    display: flex;
    justify-content: flex-start;
  }
  .footer-text {
    display: flex;
    justify-content: start;
  }
  .footer-container {
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form-paragraf {
    display: flex;
    justify-content: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px;
  }

  .footer-container {
    gap: 0;
  }
  .logo-paragraf {
    margin-right: 120px;
  }
  .footer-icon-container {
    margin-right: 80px;
  }
  .footer-form-input {
    border: 1px solid #fff;
  }
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container-block {
  margin-bottom: 8px;
}

.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-cont {
  position: relative;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-textarea {
  min-height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  
}

.modal-container-textarea {
  margin-bottom: 16px;
}

.custom-chekbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-chekbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.chekbox:checked + .label-chekbox .custom-chekbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-chekbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-button {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  display: block;
  margin: 24px auto 0 auto;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #f4f4fd;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-con-chekbox {
  margin-bottom: 24px;
}

.chekbox {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
  }
}
